* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-image: url('../public/assets/imgBackground\ 1.png');
    background-repeat: no-repeat;
}

.container {
    max-width: calc(100% - 106px);
    margin: 0 auto;
}